$primary-font: "Poppins", Verdana, sans-serif;
$secondary-font: Georgia, Times, serif;
$primary-color: #ffffff;
$secondary-color: #f6f7fbff;
$tertiary-color: #37bd9cff;

body {
  margin: 0;
  background-color: $primary-color;
  font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}

.logo-container {
  border-bottom: 2px solid $secondary-color;
  div {
    display: flex;
    justify-content: center;
  }
}

.top-navigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
}

.content {
  background-color: $secondary-color;
}

.titleBar {
  background: lightblue url("/assets/titleBarImage.jpg") no-repeat center;
  background-size: cover;
  height: 150px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap");
